:root {
  --c-primary: #D6000D;
  --c-black: #000;
  --c-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-family: inherit;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

.btn {
  width: 100%;
  height: 3rem;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--c-primary);
  color: var(--c-white);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
}

/* HEADER */

.menu__Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__logo {
  font-size: 60px;
  color: var(--c-primary);
  padding: 20px 0;
  font-style: italic;
}

.menu__logo span {
  color: var(--c-black);
}

.menu__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__item {
  font-size: 1.2rem;
}

/* HERO SECTION*/

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__image {
  width: 80%;
  padding: 60px 0;
}

.hero__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__description {
  font-size: 1.2rem;
  font-weight: bold;
}

.text__accent {
  font-size: 2.5rem;
  color: var(--c-primary);
  font-weight: bold;
  margin-bottom: 30px;
}

.info__cta {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FEATURES SECTION */

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__image {
  width: 80%;
  padding: 9.375rem 0 60px;
}

.features__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__item {
  font-family: inherit;
  font-size: 1.25rem;
  margin-bottom: 1.7rem;
}

.item__icon {
  font-size: 1.25rem;
  color: var(--c-primary);
  margin-right: .875rem;
}

/* CONTACT SECTION */

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.contact__text {
  font-size: 1.2rem;
  font-weight: bold;
}

.contact__cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.form__input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: lightgray;
  text-align: center;
}

/* TESTIMONIAL SECTION */

.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial {
  width: 100%;
  margin-bottom: 1.875rem;
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 20px;
  border-radius: 1rem;
}

.testimonial__avatar {
  width: 70px;
  height: 70px;
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .875rem;
}

.testimonial__text {
  font-size: .875rem;
}

.author__name {
  font-size: 1.125rem;
  font-weight: bold;
}

.author__company {
  font-size: .875rem;
  font-weight: bold;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--c-black);
  color: var(--c-white);
  font-size: 1rem;
  padding: 2.5rem 1.25rem;
  gap: 1.875rem;
}

.footer__company {
  text-align: center;
}

.company__title {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

.company__description {
  font-size: 1.25rem;
}

.footer__title {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: .375rem;
}

.footer__description {
  margin-bottom: .375rem;
}

.footer__link {
  color: var(--c-white);
  text-decoration: underline;
}

.social__links {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.social__icon {
  font-size: 2.5rem;
  color: var(--c-primary);
}